# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing
/coverage

# Misc
.env.development.local
.env.test.local
.env.production.local

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Logs
logs
*.log

# Private keys and secrets
*.pem
*.key

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
